<!--<div class="chatContainer">

   
    
 </div>-->

 
 <!--<div class="inputContainer">
 <form (submit)="sendMessage()">
 
     <input [(ngModel)]="text" [ngModelOptions]="{standalone:true}">
 
 </form>
     
 </div> -->
 <div class="card text-center">
    <div class="card-header">
      ConejosChat
    </div>
    <div class="card-body chatContainer">
        <p [ngClass]="{'Local': message.messageType === 1 ,'remoto' : message.messageType ===2}" class="local"*ngFor="let message of chat.chats">{{message.text}}</p> 
    </div>

    <form class="card-footer text-muted input-group" (submit)="sendMessage()">
        <div class="input-group mb-3">
            <input [(ngModel)]="text" [ngModelOptions]="{standalone:true}" type="text" class="form-control" placeholder="Ingrese su mensaje" >
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"><img src="https://img.freepik.com/vector-premium/lindo-conejito-dibujos-animados-volando-avion_60438-330.jpg" width="25px" alt="enviar mensaje"></span>
              
            </div>
          </div>
          
    </form>
  </div>